version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - ./.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./back
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      DATABASE_URL: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      FRONTEND_URL: http://localhost:${FRONTEND_PORT}
      EXTERNAL_FRONTEND_URL: http://${HOST_IP}:${FRONTEND_PORT}
      TELEGRAM_BOT_URL: http://telegram_bot:8080
      MINIO_ENDPOINT: http://minio:${MINIO_PORT}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_BUCKET: ${MINIO_BUCKET}
      MINIO_SECURE: "${MINIO_SECURE}"
    ports:
      - "${BACKEND_PORT}:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  minio:
    image: minio/minio
    container_name: minio
    env_file:
      - ./.env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":${MINIO_CONSOLE_PORT}"
    volumes:
      - minio_data:/data
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
  
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
  
  telegram_bot:
    build:
      context: ./bot
    container_name: telegram_bot
    depends_on:
      backend:
        condition: service_started 
      redis:
        condition: service_started
    env_file:
      - ./.env
    environment:
      BACKEND_API_URL: http://backend:8000
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

  web:
    build:
      context: ./web
    container_name: web_frontend
    depends_on:
      - backend
    env_file:
      - ./.env
    environment:
      # Браузер обращается к backend по внешнему IP VM
      VITE_API_URL: http://${HOST_IP}:${BACKEND_PORT}
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - ./web:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0

volumes:
  postgres_data: 
  minio_data:
